/*
  Normalize
*/

@import '../../node_modules/normalize.css/normalize';

/**
 * Base
 *=============================================================================
 */

html {
  box-sizing: border-box;
  *,
  *::before,
  *::after {
    box-sizing: inherit;
  }
}

a {
  color: white;
}

.welcome-screen {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  padding: 1.5rem;
  background: transparentize(#0094d8, 0.75);
  color: white;
  text-align: center;
}

.greeting-title {
  margin: 0;
  font-size: 8vw;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;

  a { text-decoration: none; }
}

.greeting-byline {
  display: block;
  margin-bottom: 0.5em;
  font-family: 'Georgia';
  font-weight: normal;
  font-size: 4.5vw;
  font-style: italic;
  text-transform: none;
  opacity: 0.75;
}

.greeting-desc {
  max-width: 50%;
  margin: 0 auto 0.25em;
  font-size: 4.5vw;
  font-family: 'Georgia';
  font-style: italic;
}

.bg-video {
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  transform: translateX(-50%) translateY(-50%);
  background: url('../images/skargard-video.jpg') no-repeat;
  background-size: cover;
  transition: 1s opacity;
}
