/*
  Mixins
*/

@mixin bp($breakpoint) {
  @media (min-width: $breakpoint) { @content; }
}

/*
  Variables
*/

$bp-bg-video: 800px;
$bp-greeting: 800px;

/*
  Imports
*/

@import '../../node_modules/normalize.css/normalize';
@import 'fullscreen';
@import 'greeting';

/*
  Base
*/

html {
  box-sizing: border-box;

  *,
  *::before,
  *::after {
    box-sizing: inherit;
  }
}

a {
  color: white;
}
